@import "../common.css";

.shopSwiper {
    .swiper-slide {
        .img-container {
            width: 100%;
            &::before {
                content: "";
                display: block;
                padding-top: 100%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
