@import "common";

.tab-btn {
    background-color: lightgoldenrodyellow;
    &.active {
        i {
            color: white;
        }
        background-color: goldenrod;
        color: white;
    }
}

#map {
    img:not(.map-info img) {
        border-radius: 0.5rem;
        object-fit: cover;
    }
    .gm-style-iw, .gm-style-iw-c, .gm-style-iw-d {
        max-width: none!important;
        max-height: calc(60vh - 150px)!important;
        @media (min-width: 768px) {
            max-height: calc(600px - 150px)!important;
        }
    }
}

#calendar {
    .fc-day {
        &.selected {
            background-color: lightcyan;
        }
    }
    .fc-toolbar-title {
        font-family: 'Darumadrop One', cursive;
        font-size: 2rem;
        span {
            font-family: 'Darumadrop One', cursive;
            font-size: 2rem;
        }
    }
    .fc-header-toolbar {
        @media (max-width: 768px) {
            margin-bottom: 0.5rem;
        }
    }
}
